.main {
    padding: 120px 120px 0;
}

.title {
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 800;
}

.about-brand {
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 500;
}

.about__wrap-right{
    padding-left: 20px;
}

.payment__title {
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 800;
}
.payment__text{
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 500;
}
.payment {
    display: flex;
    gap: 10px;  
    margin: 10px 0;
    padding: 0px; 
}
.payment__wrap-left{
    width: 500px;
    flex-shrink: 0;   
}

.payment__wrap-right{
    padding-left: 20px;
}


.delivery__title {
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 800;
}
.delivery__text{
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 500;
}
.delivery{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    padding: 0px; 
}
.delivery__wrap-left{
    width: 500px;
    flex-shrink: 0;   
}
.delivery__wrap-right{
    padding-left: 20px;
}
.connection__title {
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 800;
}
.connection__text{
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 500;
}
.connection__block{
    width: 50%;
}
.connection{
    display: flex;
    gap: 30px;
    margin: 10px 0;
    padding: 0px;
    width: 100%; 
}
.postcards__title {
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 800;
}
.postcards__topics {
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 800;
}
.postcards__title:active{
    font-weight: 600;
    color: #940606;
}
.postcards__title:hover{
    background-color: rgba(174, 138, 108, 0.514);
    border-radius: 50px;
}
.postcards__topics:active{
    font-weight: 600;
    color: #940606;   
}
.postcards__topics:hover{
    background-color: rgba(174, 138, 108, 0.514);
    border-radius: 50px;
}

.about{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    padding: 0px; 
   }
 
.about__wrap-left{
    width: 500px;
    flex-shrink: 0;
   }
   
.products {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.postcards {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
}
.about__shop{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(36, 37, 37);
    font-family: "Merriweather", "Times New Roman", "Sarif";
    font-weight: 400;
    font-size: 30px;
}
.button{
    background-color:  rgb(174, 138, 108);
    color: rgb(36, 37, 37);
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border: 1px solid #372d16;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(155, 16, 86);
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 24px;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(155, 16, 86);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.scroll-up--show {
    opacity: 1;
    visibility: visible;
}

.product-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.product-controls button,
.product__button {
    border: 1px solid #ccc;
    background-color: rgba(174, 138, 108, 0.577);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 2px; /* Отступы между элементами */
}

.product-controls .quantity-display {
    width: 30px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

.buy-button {
    background-color: #eff3ef; /* Зеленый */
    border: none;
    color: rgb(1, 1, 1);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px; /* Отступ между кнопкой "Купить" и контролами */
}

.buy-button:hover{
    background-color: rgb(76, 175, 80);
    border-radius: 5px;
}
